/* 
 * * * PLONE CSS UPDATES * * *
 */

/*Begin Portal Header*/
#portal-globalnav{
	background: transparent;
}

#portal-globalnav ul{
	background: transparent;
	border-bottom: transparent;
}

#portal-top {
	background: url("/++theme++vindula.liberiuntheme/images/bkgs/bk_header.png") repeat scroll 0 0 transparent;
    height: 175px;
    margin-bottom: 15px;
}

#portal-personaltools-wrapper{
	min-height: 32px;
}

.img-contato {
	height: 26px;
    margin: 0 0 15px 42px;
}

/*Fix for Fire Fox*/
@-moz-document url-prefix() {
	.searchButton{
		height: 26px;
	    margin: 0;
	    padding: 0 0 2px;
	}
}

/*Fix for IE8*/
@media \0screen {
  .searchButton{
		height: 29px;
	    margin: 0;
	    padding: 3px 0 0 0;
	}
}

/*End Portal Header*/

/*Begin Portal Footer*/

#portal-down {
	background: none repeat scroll 0 0 #464646
}

#portal-footer-ext {
	background: none repeat scroll 0 0 #363636;
}

#portal-footer {
	background: none;
	width: 992px;
	margin: 0 auto;
}

#portal-colophon-wrapper {
	margin: 0 auto;
    width: 992px;
}

#portal-siteactions-ext {
	background: none repeat scroll 0 0 #363636;
}

#portal-siteactions{
	background: none;
	margin: 0 auto;
    width: 992px;
}

#kss-spinner {
	margin: 1.9em auto 1em;
    width: 992px;
}



/*End Portal Footer*/

/*Width of page*/
#visual-portal-wrapper {
    width: 1002px;
}
/*End width of page*/

/* Several */
.display-none { display:none; }
#visual-portal-wrapper { margin:0 auto; }

div.cell { float: left; }

/* Edit Bar Background Color... */
#edit-bar {
    background-color: #A6A6A6;
    border: 0.25em solid #A6A6A6;
	border-style: solid solid none;
}

#contentActionMenus {
	background: none repeat scroll 0 0 #A6A6A6;
}

#contentActionMenus dl.actionMenu a, 
#content-views  {
	background-color: #A6A6A6;
}

#contentActionMenus dl.actionMenu.activated dd {
	border-bottom: 0.5em solid #A6A6A6;
	background-color: #A6A6A6;
}
/* ...Edit Bar Background Color */

/* Content Types Icons... */
#portal-column-content .contenttype-file { background: url(/contenttypes-sprite.png) no-repeat scroll 0 -428px transparent; }
#portal-column-content .contenttype-document { background: no-repeat transparent 0px 4px url(/contenttypes-sprite.png); }
#portal-column-content .contenttype-event { background: no-repeat transparent 0px -212px url(/contenttypes-sprite.png); }
#portal-column-content .contenttype-folder { background: no-repeat transparent 0px -644px url(/contenttypes-sprite.png); }
#portal-column-content .contenttype-link { background: no-repeat transparent 0px -1076px url(/contenttypes-sprite.png); }
#portal-column-content .contenttype-news-item { background: no-repeat transparent 0px -1292px url(/contenttypes-sprite.png); }
#portal-column-content .contenttype-plone-site { background: no-repeat transparent 0px -1508px url(/contenttypes-sprite.png); }
#portal-column-content .contenttype-topic {background: no-repeat transparent 0px -1724px url(/contenttypes-sprite.png); }

/* These should only appear in the add menu */
#plone-contentmenu-factories .contenttype-file {
    background: no-repeat transparent 0px -428px url(/contenttypes-sprite.png);
}

#plone-contentmenu-factories .contenttype-image {
    background: no-repeat transparent 0px -860px url(/contenttypes-sprite.png);
}

.contenttype-document,
.contenttype-event,
.contenttype-folder,
.contenttype-link,
.contenttype-news-item,
.contenttype-plone-site,
.contenttype-topic,
#plone-contentmenu-factories .contenttype-file,
#plone-contentmenu-factories .contenttype-image {
    line-height: 2em;
    display: inline-block;
    *display: block;
    padding-left: 20px !important;
}
/* ...Content Types Icons */

/* Galery Circle Home */
.cycle-nav a { display:none; }
.cycle-nav a.activeSlide{ display:inline; }
.paginacao p a{
  	color: #636363 !important;
    line-height: 1.3em;
}

.vindula-portal-logo{
	margin: 1.125em;
	display: inline-block;
}

#content #vindula-home-page p, 
#content #vindula-home-page ul{
    font-size: 100% !important;
}